@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto+Slab:400,500,700,900|Roboto:400,700&display=swap');
body{
    font-family: 'Roboto Mono', monospace;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
    
}
.header{
    width: 100%;    
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-rows: 50px 69px;
}

.header__icons-container{
width: 100%;
display: grid;
background-color: #47cfac;
}
.header__icons{
   width: 300px;
   height: auto; 
   display: flex;
   justify-items: flex-end;
   align-items: center;
   justify-content: space-between;
   justify-self: end;
   margin-right: -30px;
}
.header__link{
   color: white; 
   font-size: 25px; 
   
}

.icon-youtube{
    margin-right: 65px;
}

.header__navigation-container{
   display: grid;
   grid-template-columns: repeat(2, 1fr); 
 
   
}

.header__logo-container{
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}

.header__logo{
  width: 220px;  
 
}
.header__profile{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
   
}

.header__perfile--link{
    color: black;
    border-bottom: 1px solid black ;
    
    
    
}
.main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;    
    height: 100%;  
    background: url('../IMG/Cover.png') center center no-repeat;
    /* background-image: url('../IMG/Cover.png') ; */
  /*   background-position: center;
    background-repeat: no-repeat; */
    background-size: cover;
}

.main__home{
 grid-column: 2 / 3;
 display: grid; 
 grid-template-rows: 2fr 1fr 1fr;
}

.main__title {
    font-family: 'Roboto mono', monospace;
    font-size: 30px;
    font-weight: 700px;
    letter-spacing: 10px;
    text-align: center;
    color: white;
    align-self: center;
}
.main-button {
    width: 110px;
    height: 50px;
    background: #48cfad;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 50px;    
    border-radius: 10px;
    justify-self: center;
}

.main__button:hover{
    color: white;
}